<style>
  .mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0.3); width: 300px;
    transform: translatey(20px);
    border-left-width: 20px;
    border-left-width: 20px;
  }
  
</style>

<center>
{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">Contact Us</h1>
    <div class="row mt-5 text-center"><br>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fas fa-phone-square"><img src="https://static.vecteezy.com/system/resources/previews/000/615/758/original/vector-call-icon.jpg" height="25px" width="25px"><br> Contact</i></h4>
        <p class="text-danger font-weight-bold">+916304337967</a></p>
      </div>
      <br>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-envelope"><img src="https://static.vecteezy.com/system/resources/previews/000/581/545/original/email-icon-vector-illustration.jpg" height="15px" width="15px"><br></i> Send-email</h4>
        <p class="text-danger font-weight-bold">Careerhub@gmail.com</a></p>
      </div>
      <br>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card" aria-hidden="true"><img src="https://tse2.mm.bing.net/th?id=OIP.MOxzgC1DPe9MDBLr4u-GhQHaHv&pid=Api&P=0&h=180" height="25px" width="25px"><br></i> Office Address</h4>
        <p class="text-danger font-weight-bold"><a href="https://www.google.co.in/maps/place/Vijayawada,+Andhra+Pradesh/@16.5103132,80.5624821,12z/data=!3m1!4b1!4m6!3m5!1s0x3a35eff9482d944b:0x939b7e84ab4a0265!8m2!3d16.5061743!4d80.6480153!16zL20vMDM4NWs3?entry=ttu">Vijayawada,India</a></p>
      </div>
      <br>
      <div class="col-lg-3 col-sm-6 mydivstyle">
        <h4><i class="fa fa-address-card" aria-hidden="true"><img src="https://pluspng.com/img-png/time-png-png-ico-icns-more-1024.png" height="35px" width="35px"><br></i> Web Site</h4>
        <p>All time avaliable</p>
      </div>
    <div>
        <h4 class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </h4>
    </div>
  </div>
</div>
  
{% endblock content %}
</center>
